<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" href="/css/style.css">
  </head>

  <div id="Background">
    <body>
      <p>Testing</p>

      <!--Routing Test-->
      <div id="routingTestDiv">
        <a href="/test">
          <button>
            Routing Test 
          </button>
        </a>     
      </div>

      <!--Htmx Test-->
      <div id="htmxTestDiv">
        <button hx-get="/test/htmx"
                hx-trigger="click"
                hx-target="#htmxTestDiv"
                hx-swap="outerHTML">
          htmxTest
        </button>     
      </div>

      <!--Position Test-->
      <div id="Position-Test">
        <p id="para-text">
          Testing Actual Features
        </p>
      </div>

      <!--Background Test-->
      <div>
        <a href="/background">
        <button>
          Background Test
        </button>
      </a>
      </div>

      <!--Login Test-->
      <div>
        <a href="/login">
        <button>
          Login Page
        </button>
      </a>
      </div>
      
      <!--database Test-->
      <div id="databaseTest">
        <button hx-get="/database"
                hx-trigger="click">
          databaseTest
        </button>
      </div>

      <!--Account Settings Test-->
      <div>
        <a href="/account">
        <button>
          Account Settings
        </button>
      </a>
      </div>
      <!--JavaScript-->
      <script src='/javascript/htmx.min.js'></script>
    </body>
  </div>
</html>
