<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <p>Testing</p>

    <div id="routingTestDiv">
      <a href="/test">
        <button>
          Routing Test 
        </button>
      </a>     
    </div>

    <div id="htmxTestDiv">
      <button hx-get="/test/htmx"
              hx-trigger="click"
              hx-target="#htmxTestDiv"
              hx-swap="outerHTML">
        htmxTest
      </button>     
    </div>

    <script src='/javascript/htmx.min.js'></script>
  </body>
</html>
