<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/landing.css">
  </head>

  <body>
    <!--Title-->
    <div class="page-title">
      <h1>GitHealthy</h1>
    </div>

    <!--Text slogan-->
    <div class="slogan">
      
      <p> Commit to your health now!</p>
      <a href='/login' class="get-started-btn">Get Started</a>
    </div>

    <img src="/public/Images/Pixel Art Man.png" alt="Pixel Man">

    <!--White Rectangle-->
    <div class="rectangleContainer">
      <svg class="svg" viewBox="0 0 100 100" preserveAspectRatio="none">
        <polygon
          points="0,85 100,75 100,100 0,100"
          class="diagonal"
        />
      </svg>
    </div>

    
    <!--JavaScript-->
    <script src='/javascript/htmx.min.js'></script>
    <script type="module">
      import { generateNavBar, generateBackground } from '/javascript/components/controller.js'
           
      generateNavBar();
      generateBackground();
    </script>
  </body>
</html>
