
.gradient-background {
  position: fixed;
  inset: 0;
  z-index: -5;
  pointer-events: none;
}

/* The grid for the pixels */
.pixel-grid {
  background-image:
    repeating-linear-gradient(
      to bottom,
      var(--grid) 0px,
      var(--grid) 1px,
      transparent 1px,
      transparent 24px
    ),
    repeating-linear-gradient(
      to right,
      var(--grid) 0px,
      var(--grid) 1px,
      transparent 1px,
      transparent 24px
    )
}

/* Pixels sparkle */
#pixels {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index:-3;
  pointer-events: none;
  image-rendering: pixelated;
}

/* particles that follow cursor */
.particles-container {
  position: fixed;
  inset: 0;
  z-index: -2;
  pointer-events: none;
}


.particle {
  will-change: transform, opacity;
  transform: translateZ(0);
}

/* Mobile */
@media (max-width: 768px) {
  .particles-container {
    contain: layout paint;
  }
}

