@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.page-title {
  text-align: center;
  margin-top: 2.5%;
  margin-bottom: 10%;
  z-index: 50;
}

.page-title h1 {
  font-family: 'Press Start 2P', monospace;
  font-size: 2rem;
  font-weight: 700;
  z-index: 50;
}

.slogan {
  position: center;
  text-align: center;
  top: 50%;
  left: 40px;
  transform: translateY(-50%);
  z-index: 50;
}

.slogan p {
  text-align: center;
  font-family: 'Press Start 2P', monospace;
  font-size: 22px;
  color: white;
  letter-spacing: 2px;
  margin-bottom: 30px;
  z-index: 50;
}

.rectangleContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 140vh; /* controls how much it comes up (BEN)*/
  pointer-events: none;
  z-index: -3;
}

.svg {
  width: 100%;
  height: 100%;
}

.diagonal {
  fill: white;
}

/* Get Started button */
.get-started-btn {
  font-family: 'Press Start 2P', monospace;
  font-size: 14px;
  padding: 14px 24px;
  background-color: transparent;
  color: white;
  border: 2px solid white;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  z-index: 50;
}

/* Hover effect */
.get-started-btn:hover {
  background-color: #0081DC;
  color: white;
  transform: translateY(-2px);
  z-index: 50;
}


