<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link href="/css/style.css" rel="stylesheet">
  </head>
  <body>
    <p>Routed</p>
    <a href="/"><button>Go Back</button></a>
  </body>

  <script type="module">
    import { generateNavBar, generateBackground } from '/javascript/components/controller.js'

    generateBackground()
  </script>
</html>
