<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link href="/css/style.css" rel="stylesheet">
  </head>
  <body>
    <h3>Friends</h3>
    <ul>
      <% for (const friend of friends) { %>
        <li>
          <%= friend.user == username ? friend.friend : friend.user %>
        </li>
      <% } %>
    </ul>

    <h3>Requests</h3>
    <ul>
      <% for (const request of requests) { %>
        <li>
          <%= request.user %>
          <form action="/test/acceptRequest" method="post"><button type="submit" name="username" value="<%= request.user %>" >Accept</button></form>
          <form action="/test/denyRequest" method="post"><button type="submit" name="username" value="<%= request.user %>" >Deny</button></form>
        </li>
      <% } %>
    </ul>

    <form action="/test/addFriend" method="post">
      <input type="text" name="username" required />
      <button type="submit">Submit</button>
    </form>
  </body>

  <script type="module">
    import { generateNavBar, generateBackground } from '/javascript/components/controller.js'

    generateNavBar()
    generateBackground()
  </script>
</html>
