<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/css/leaderboard.css">
  <title>Leaderboard</title>
</head>
<body>
    <div class="leaderboard-page">
        <div class="leaderboard-top3">

            <!-- 1st place-->
             <div class="podium podium-1">
                <!-- <img src="/images/1st-place-avatar.png" 
                 alt="1st place avatar" class="podium-avatar"> -->
                 <div class="podium-block">
                    <div class="podium-text position">1st</div>
                    <div class="podium-text level">Level 50</div>
                    <div class="podium-text name">Dave1</div>
                </div>
            </div>

            <!-- 2nd place-->
             <div class="podium podium-2">
                <!-- <img src="/images/2nd-place-avatar.png" 
                 alt="2nd place avatar" class="podium-avatar"> -->
                 <div class="podium-block">
                    <div class="podium-text position">2nd</div>
                    <div class="podium-text level">Level 40</div>
                    <div class="podium-text name">Dave2</div>
                </div>
            </div>

                        <!-- 3rd place-->
             <div class="podium podium-3">
                <!-- <img src="/images/3rd-place-avatar.png" 
                 alt="3rd place avatar" class="podium-avatar"> -->
                 <div class="podium-block">
                    <div class="podium-text position">3rd</div>
                    <div class="podium-text level">Level 30</div>
                    <div class="podium-text name">Dave3</div>
                </div>
            </div>
        </div>

        <div class="leaderboard-wrapper">
            <div class="leaderboard-header-row">
                <span>Level</span>
                <span>Username</span>
                <span>Missions</span>
            </div>

            <div class="leaderboard-rows" id="leaderboard-rows">
                <!-- JS -->
            </div>
        </div>
    </div>
    
    <script src="/javascript/htmx.min.js"></script>
    <script type="module">
    import { generateNavBar, generateBackground } from '/javascript/components/controller.js'
    generateBackground();
    generateNavBar();
    </script>


</body>
</html>


